@charset "utf-8";
/* CSS Document */

/*
.transBox
{
	transform: translate(50%,50%);
}*/
.line
{
	fill:none;
}
.background
{
	fill: url(#grey_blue)  ;
}
.attribute
{
	fill:rgba(0,207,44, 0.8);
	stroke:OliveDrab;
}
.line,.background
{
	stroke:brown;
}
.text{
	font-size:25px;
	font-family: "Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.text-name{
	font-weight: bold;
	text-shadow: black 0 0 2px;
	fill: white;
}
.text-value{
	fill: FireBrick;
	text-shadow: Salmon 0 0 2px;
}