@charset "utf-8";
/* CSS Document */
ul
{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.banner
{
	min-width: 1300px;
	height:400px;
	margin-top: 15px;
	background-color: #0af;
	background-image: linear-gradient(transparent, rgba(255, 255, 255, .3) 30%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .3) 70%, transparent); 
	/*
	background-color: #0af;
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent), linear-gradient(315deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
	background-size: 60px 60px;
	*/
	border: 2px solid #7D77FF;
	border-radius: 15px;
	box-shadow: black 0 0 5px;
}
.head,.detail,.attribute,.spell_card
{
	float:left;
	box-sizing: border-box;
}
.head
{
	width:15%;
	min-width:200px;
	max-width:350px;
	height:100%;
	border-radius: 15px 0 0 15px;
	box-shadow: black 0 0 5px;
	
	background-color: #e33;
	background-image: linear-gradient(transparent 50%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, .5)), linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, .5));
	background-size: 40px 40px;
	overflow: hidden;
	position: relative;
}
.head .picture,.head .headcover
{
	width:100%;
	height:100%;
}
.head .picture
{
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center center;
}
.head .headcover
{
	position: absolute;
	top:0;
	left:0;
	background-image: linear-gradient(4deg, rgba(0, 0, 0, .5) 15%, transparent 15.2%, transparent 90%, rgba(0, 0, 0, .5) 90.2%);
}
.head .cardname, .head .racename,.head .skinname, .head .author
{
	position: absolute;
	color: white;
	text-shadow: 0 0 3px #b97a57;
}
.cardname
{/*人物名*/
	right: 10px;
	top: 5px;
}
.racename
{/*种族名*/
	top: 5px;
	right: 10px;
}
.skinname
{/*皮肤名*/
	left: 13px;
	bottom: 18px;
	font-size: 1.2em;
}
.author
{/*作者名*/
	right: 8px;
	bottom: 3px;
	font-size: 0.8em;
}

/*Debug用
.detail,.attribute,.spell_card
{
	border: 1px solid black;
}*/
.detail,.attribute,.spell_card
{
	color: white;
	text-shadow: black 0 0 2px, black 0 0 2px;
}
.detail,.spell_card
{
	padding: 10px;
	overflow: auto;
}
.detail
{
	width: 40%;
	height: 100%;
	margin: 0;
	float:left;
}
.details-dl .title
{
	width: 100px;
	float: left;
}
.details-dl .title::after
{
	content: "：";
}
.details-dl .content
{
	padding: 0;
	margin-left: 100px;
}

.attribute
{
	width: 20%;
	min-width: 200px;
	max-width: 380px;
	max-height: 100%;
}
.spell_card
{
	width: 24%;
	max-width: 450px;
	height:100%;
}
.spell_card .details-dl .title
{
	width: 100px;
}
.spell_card .details-dl .content
{
	margin-left: 100px;
}
.progress
{
	height: 22px;
	line-height: 20px;
	border-radius: 2px;
	background: #ddd;
	box-sizing: border-box;
	box-shadow: 0 0 2px black;
	background-image: linear-gradient(90deg, transparent 19.8%, red 20%, transparent 20.2%, transparent 39.8%, red 40%, transparent 40.2% , transparent 59.8%, red 60%, transparent 60.2% , transparent 79.8%, red 80%, transparent 80.2%);
}
.progress div
{
	height: 100%;
	display: inline-block;
	text-align: center;
	box-sizing: border-box;
	overflow: hidden;
}
.progress-faith
{
	background: LightGreen;
	border: 1px Green solid;
	background-image: linear-gradient(0deg, green, transparent);
	border-radius: 2px;
}
.progress-food
{
	background: white;
	border: 1px Black solid;
	border-radius: 13px 13px 5px 5px;
	background-image: linear-gradient(black, black);
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-position: 50% 100%;
}