@namespace url(http://www.w3.org/2000/svg);

.line
{
	fill:none;
}
.background
{
	fill: url(#grey_blue)  ;
}
.stop1 {
  stop-color:LightSkyBlue;
  stop-opacity:1;
}
.stop2 {
  stop-color:AliceBlue;
  stop-opacity:1;
}
.attribute
{
	fill:rgba(255,95,16,0.6);
	stroke:orange;
}
.attribute-add
{
	fill:rgba(0,207,44, 0.8);
	stroke:OliveDrab;
}
.line,.background
{
	stroke:brown;
}
.text{
	font-size:25px;
	font-family: "Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.text-name{
	font-weight: bold;
	text-shadow: black 0 0 2px;
	fill: white;
}
.text-value{
	fill: FireBrick;
	text-shadow: yellow 0 0 2px,yellow 0 0 2px,yellow 0 0 2px;
	font-weight: bold;
}
.text-value .diff{
	font-size:15px;
}
.diff-add{
	fill: red;
}
.diff-reduce{
	fill: blue;
}