<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>head/ATH000301.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,812},{98,136}}</string>
                <key>offset</key>
                <string>{9,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,64},{98,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH000502.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,370},{138,176}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,24},{138,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH0005A1.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,502},{138,162}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,38},{138,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH000601.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,716},{100,158}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,42},{100,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH000602.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,168},{122,168}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,32},{122,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH000701.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,912},{104,138}}</string>
                <key>offset</key>
                <string>{9,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,62},{104,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH000801.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,818},{128,146}}</string>
                <key>offset</key>
                <string>{3,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,54},{128,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH000901.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,912},{110,140}}</string>
                <key>offset</key>
                <string>{-5,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,60},{110,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH000902.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,726},{102,168}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,32},{102,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH001002.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,180},{140,174}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,26},{140,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH001102.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,150},{120,158}}</string>
                <key>offset</key>
                <string>{-13,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,42},{120,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH001301.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,718},{98,148}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,52},{98,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH001401.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,934},{128,148}}</string>
                <key>offset</key>
                <string>{-8,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,52},{128,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH001501.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,570},{140,144}}</string>
                <key>offset</key>
                <string>{16,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,56},{140,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH001601.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,304},{140,150}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,50},{140,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH001701.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,776},{98,156}}</string>
                <key>offset</key>
                <string>{4,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,44},{98,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH002002.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,154},{152,164}}</string>
                <key>offset</key>
                <string>{8,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,36},{152,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH002102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{130,180}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,20},{130,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH002802.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{180,188}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{180,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH002901.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,726},{136,184}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,16},{136,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH002902.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,366},{146,176}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,24},{146,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH003101.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,884},{128,148}}</string>
                <key>offset</key>
                <string>{15,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,52},{128,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH003301.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,924},{136,138}}</string>
                <key>offset</key>
                <string>{4,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,62},{136,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH003501.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,350},{162,150}}</string>
                <key>offset</key>
                <string>{-4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,50},{162,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH003801.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{182,176}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{182,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH004201.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,888},{140,150}}</string>
                <key>offset</key>
                <string>{-5,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,50},{140,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH004401.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,154},{172,152}}</string>
                <key>offset</key>
                <string>{-5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,48},{172,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH004501.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,310},{122,138}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,62},{122,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH004601.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,2},{146,184}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,16},{146,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH004701.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,548},{138,176}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{138,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH0047A1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,2},{136,166}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,34},{136,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH004801.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{190,176}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,24},{190,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH004901.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,2},{172,164}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,36},{172,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH005901.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,166},{136,158}}</string>
                <key>offset</key>
                <string>{6,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,42},{136,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH006001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,394},{110,140}}</string>
                <key>offset</key>
                <string>{13,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,60},{110,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH006002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,398},{98,158}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,42},{98,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH006301.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,450},{118,148}}</string>
                <key>offset</key>
                <string>{5,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,52},{118,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH006401.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,664},{110,156}}</string>
                <key>offset</key>
                <string>{6,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,44},{110,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH006601.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,140},{130,166}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,34},{130,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH006602.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,782},{104,166}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,34},{104,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH006801.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,548},{130,176}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{130,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH006901.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,558},{104,154}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,46},{104,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH007201.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,398},{110,158}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,42},{110,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH007301.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,554},{128,170}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,30},{128,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH007401.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,948},{108,164}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,36},{108,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH007502.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,2},{164,176}}</string>
                <key>offset</key>
                <string>{-18,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{164,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH007601.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,726},{98,186}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,14},{98,186}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH007901.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,398},{98,158}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,42},{98,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH008001.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,176},{164,172}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,28},{164,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH008002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,168},{118,160}}</string>
                <key>offset</key>
                <string>{-13,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,40},{118,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH008201.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,554},{104,168}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,32},{104,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH008401.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,558},{104,160}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,40},{104,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH008801.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,422},{130,172}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,28},{130,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH009201.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,664},{110,146}}</string>
                <key>offset</key>
                <string>{-6,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,54},{110,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH009301.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,184},{128,180}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,20},{128,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH009602.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,650},{128,168}}</string>
                <key>offset</key>
                <string>{-9,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,32},{128,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH009901.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,272},{98,144}}</string>
                <key>offset</key>
                <string>{3,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,56},{98,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH010201.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,528},{120,168}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,32},{120,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH010401.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,912},{150,164}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,36},{150,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH010501.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,660},{120,168}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,32},{120,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH010802.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,780},{102,166}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,34},{102,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH010803.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,292},{104,166}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,34},{104,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATHZ00401.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,308},{112,174}}</string>
                <key>offset</key>
                <string>{-7,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,26},{112,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATHZ00501.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,182}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{198,182}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATHZ00601.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{182,176}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{182,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATHZ00701.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,664},{118,150}}</string>
                <key>offset</key>
                <string>{6,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,50},{118,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATHZ00801.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,186},{128,182}}</string>
                <key>offset</key>
                <string>{-18,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{128,182}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATHZ01401.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,570},{146,146}}</string>
                <key>offset</key>
                <string>{-15,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,54},{146,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATHZ01701.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,422},{104,172}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,28},{104,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATHZ01801.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{172,184}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,16},{172,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATHZ02101.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{150,192}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{150,192}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATHZ02201.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,308},{112,168}}</string>
                <key>offset</key>
                <string>{-10,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,32},{112,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATHZ02501.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,2},{180,162}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,38},{180,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATHZ02601.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,356},{118,172}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,28},{118,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATHZ02701.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{196,182}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{196,182}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,812},{118,110}}</string>
                <key>offset</key>
                <string>{-6,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,50},{118,110}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>head/EAA000201.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,288},{128,104}}</string>
                <key>offset</key>
                <string>{-8,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,96},{128,104}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000202.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,446},{144,122}}</string>
                <key>offset</key>
                <string>{-5,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,78},{144,122}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000204.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,948},{140,108}}</string>
                <key>offset</key>
                <string>{-11,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,92},{140,108}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000208.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,818},{146,128}}</string>
                <key>offset</key>
                <string>{-9,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,72},{146,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000209.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,876},{146,120}}</string>
                <key>offset</key>
                <string>{1,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,80},{146,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000211.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,2},{190,150}}</string>
                <key>offset</key>
                <string>{-5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{190,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000302.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,712},{98,114}}</string>
                <key>offset</key>
                <string>{-2,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,78},{98,114}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000303.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,642},{138,164}}</string>
                <key>offset</key>
                <string>{18,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,36},{138,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000403.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,808},{112,124}}</string>
                <key>offset</key>
                <string>{-3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,16},{112,124}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000503.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,816},{118,142}}</string>
                <key>offset</key>
                <string>{10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,42},{118,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000504.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,154},{102,152}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,48},{102,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000508.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,566},{102,144}}</string>
                <key>offset</key>
                <string>{-10,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,56},{102,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000515.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,690},{98,122}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,50},{98,122}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000517.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,418},{138,98}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,54},{138,98}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000603.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{204,146}}</string>
                <key>offset</key>
                <string>{20,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,54},{204,146}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>head/EAAH00101.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,726},{180,120}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,34},{180,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAAH00801.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,438},{94,126}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,40},{94,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAAH00802.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,558},{98,130}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,40},{98,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAAH00803.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,308},{94,128}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,42},{94,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAAH00806.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,960},{102,136}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,39},{102,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAH000003.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,914},{148,174}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,26},{148,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EBA001006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,288},{108,140}}</string>
                <key>offset</key>
                <string>{12,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,60},{108,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EBAH01006.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,896},{112,166}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,34},{112,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>head1.pvr.ccz</string>
            <key>size</key>
            <string>{2036,1064}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddea253ec8902b64744be60d583611c3:0e8894fecd75df6bef06c4c2bfc985c9:358c8a25200090bf3b582ff076a6ced7$</string>
            <key>textureFileName</key>
            <string>head1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
