<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>head/ATH000301.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,210},{98,136}}</string>
                <key>offset</key>
                <string>{9,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,64},{98,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH000501.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,146},{114,146}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,54},{114,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH000701.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,106},{104,138}}</string>
                <key>offset</key>
                <string>{9,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,62},{104,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH000901.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,2},{110,140}}</string>
                <key>offset</key>
                <string>{-5,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,60},{110,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH001301.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,108},{98,148}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,52},{98,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH001701.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,2},{98,156}}</string>
                <key>offset</key>
                <string>{4,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,44},{98,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH001801.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,164}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,36},{102,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH002701.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,2},{106,148}}</string>
                <key>offset</key>
                <string>{16,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,52},{106,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH002801.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,2},{114,140}}</string>
                <key>offset</key>
                <string>{1,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,60},{114,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH003201.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,110},{88,152}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,48},{88,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH003401.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{116,142}}</string>
                <key>offset</key>
                <string>{-3,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,58},{116,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH004001.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,102},{106,136}}</string>
                <key>offset</key>
                <string>{9,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,64},{106,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH004002.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,102},{106,136}}</string>
                <key>offset</key>
                <string>{9,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,64},{106,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH005601.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,310},{102,122}}</string>
                <key>offset</key>
                <string>{4,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,78},{102,122}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH005701.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{106,152}}</string>
                <key>offset</key>
                <string>{7,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,48},{106,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH005801.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,2},{108,142}}</string>
                <key>offset</key>
                <string>{5,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,58},{108,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH006001.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,304},{110,140}}</string>
                <key>offset</key>
                <string>{13,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,60},{110,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH006002.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{98,158}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,42},{98,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH006901.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{104,154}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,46},{104,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH007901.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,2},{98,158}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,42},{98,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH008501.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{102,158}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,42},{102,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH009001.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,294},{114,144}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,56},{114,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH009201.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,292},{110,146}}</string>
                <key>offset</key>
                <string>{-6,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,54},{110,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH009601.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{100,156}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,44},{100,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH009701.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,200},{102,146}}</string>
                <key>offset</key>
                <string>{-3,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,54},{102,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH009801.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,146},{114,144}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,56},{114,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH009901.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,104},{98,144}}</string>
                <key>offset</key>
                <string>{3,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,56},{98,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH010001.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,416},{92,142}}</string>
                <key>offset</key>
                <string>{7,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,58},{92,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH010301.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{102,162}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,38},{102,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATHZ01501.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,208},{102,146}}</string>
                <key>offset</key>
                <string>{4,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,54},{102,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,216},{118,110}}</string>
                <key>offset</key>
                <string>{-6,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,50},{118,110}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>head/EAA000110.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,212},{118,110}}</string>
                <key>offset</key>
                <string>{-6,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,50},{118,110}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>head/EAA000201.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,212},{128,104}}</string>
                <key>offset</key>
                <string>{-8,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,96},{128,104}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000203.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,212},{126,92}}</string>
                <key>offset</key>
                <string>{-9,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,108},{126,92}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000204.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,114},{140,108}}</string>
                <key>offset</key>
                <string>{-11,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,92},{140,108}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000205.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,210},{132,104}}</string>
                <key>offset</key>
                <string>{-11,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,96},{132,104}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000301.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,306},{106,124}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,61},{106,124}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000302.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,222},{98,114}}</string>
                <key>offset</key>
                <string>{-2,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,78},{98,114}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000401.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,328},{92,116}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,49},{92,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000403.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,300},{112,124}}</string>
                <key>offset</key>
                <string>{-3,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,16},{112,124}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000503.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{118,142}}</string>
                <key>offset</key>
                <string>{10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,42},{118,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000504.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,2},{102,152}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,48},{102,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000505.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,310},{78,94}}</string>
                <key>offset</key>
                <string>{5,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,88},{78,94}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000506.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,110},{88,84}}</string>
                <key>offset</key>
                <string>{-7,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,85},{88,84}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000507.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,102},{106,136}}</string>
                <key>offset</key>
                <string>{10,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,64},{106,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000508.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,312},{102,144}}</string>
                <key>offset</key>
                <string>{-10,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,56},{102,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000511.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,324},{112,92}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,60},{112,92}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000512.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,418},{110,92}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,58},{110,92}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000513.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,224},{114,94}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,59},{114,94}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000514.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,322},{110,100}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,50},{110,100}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000515.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,318},{98,122}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,50},{98,122}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000517.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,112},{138,98}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,54},{138,98}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000518.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,320},{100,110}}</string>
                <key>offset</key>
                <string>{4,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,75},{100,110}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000519.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,416},{90,138}}</string>
                <key>offset</key>
                <string>{5,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,62},{90,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000601.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,316},{123,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{123,90}}</string>
                <key>sourceSize</key>
                <string>{125,108}</string>
            </dict>
            <key>head/EAAH00301.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,440},{108,58}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,78},{108,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAAH00303.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,440},{98,64}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,79},{98,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAAH00304.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,224},{96,62}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,76},{96,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAAH00305.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,412},{74,72}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{74,72}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>head/EAAH00306.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,408},{80,76}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{80,76}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>head/EAAH00308.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,322},{84,66}}</string>
                <key>offset</key>
                <string>{1,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,134},{84,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAAH00801.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,204},{94,126}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,40},{94,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAAH00802.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,216},{98,130}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,40},{98,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAAH00803.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,316},{94,128}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,42},{94,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAAH00806.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,118},{102,136}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,39},{102,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAAH00807.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,110},{104,136}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,40},{104,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAAH01101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,424},{96,86}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,56},{96,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAAH01102.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,424},{96,86}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,56},{96,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAAH01103.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,422},{96,86}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,56},{96,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAAH01104.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,414},{96,86}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,56},{96,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAAH01105.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,414},{96,86}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,56},{96,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAAH01106.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,418},{96,86}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,56},{96,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAAH01107.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,418},{96,86}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,56},{96,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAAH01202.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,408},{102,102}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,98},{102,102}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAAH01206.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,422},{86,90}}</string>
                <key>offset</key>
                <string>{1,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,110},{86,90}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAAH01208.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,414},{96,96}}</string>
                <key>offset</key>
                <string>{-8,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,104},{96,96}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAAH01209.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,414},{90,108}}</string>
                <key>offset</key>
                <string>{-5,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,92},{90,108}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EBA001006.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,102},{108,140}}</string>
                <key>offset</key>
                <string>{12,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,60},{108,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>head1.pvr.ccz</string>
            <key>size</key>
            <string>{2029,513}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7abc01f6e73693879b11422c473c8fbb:bee4a13547c0f5928e937e3d79c8ff6a:358c8a25200090bf3b582ff076a6ced7$</string>
            <key>textureFileName</key>
            <string>head1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
