<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>head/ATH000301.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1186},{98,136}}</string>
                <key>offset</key>
                <string>{9,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,64},{98,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH000401.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{124,144}}</string>
                <key>offset</key>
                <string>{-5,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,56},{124,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH000501.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1634},{114,146}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,54},{114,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH000801.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{128,146}}</string>
                <key>offset</key>
                <string>{3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,54},{128,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH000901.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,244},{110,140}}</string>
                <key>offset</key>
                <string>{-5,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,60},{110,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH001301.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,528},{98,148}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,52},{98,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH001401.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{128,148}}</string>
                <key>offset</key>
                <string>{-8,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,52},{128,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH001501.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,144}}</string>
                <key>offset</key>
                <string>{16,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,56},{140,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH002001.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,238},{134,140}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,60},{134,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH002701.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,130},{106,148}}</string>
                <key>offset</key>
                <string>{16,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,52},{106,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH002801.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,128},{114,140}}</string>
                <key>offset</key>
                <string>{1,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,60},{114,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH003001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{116,148}}</string>
                <key>offset</key>
                <string>{7,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,52},{116,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH005601.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1168},{102,122}}</string>
                <key>offset</key>
                <string>{4,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,78},{102,122}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH006001.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,628},{110,140}}</string>
                <key>offset</key>
                <string>{13,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,60},{110,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH006301.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{118,148}}</string>
                <key>offset</key>
                <string>{5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,52},{118,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH007001.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{126,148}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,52},{126,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH009001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1782},{114,144}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,56},{114,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH009201.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,380},{110,146}}</string>
                <key>offset</key>
                <string>{-6,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,54},{110,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH009701.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1046},{102,146}}</string>
                <key>offset</key>
                <string>{-3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,54},{102,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH009801.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1928},{114,144}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,56},{114,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH009901.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,628},{98,144}}</string>
                <key>offset</key>
                <string>{3,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,56},{98,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATH010001.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1042},{92,142}}</string>
                <key>offset</key>
                <string>{7,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,58},{92,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATHZ00701.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{118,150}}</string>
                <key>offset</key>
                <string>{6,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,50},{118,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/ATHZ01501.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1194},{102,146}}</string>
                <key>offset</key>
                <string>{4,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,54},{102,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000101.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1448},{118,110}}</string>
                <key>offset</key>
                <string>{-6,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,50},{118,110}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>head/EAA000201.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,912},{128,104}}</string>
                <key>offset</key>
                <string>{-8,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,96},{128,104}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000202.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1194},{144,122}}</string>
                <key>offset</key>
                <string>{-5,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,78},{144,122}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000203.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,356},{126,92}}</string>
                <key>offset</key>
                <string>{-9,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,108},{126,92}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000204.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1488},{140,108}}</string>
                <key>offset</key>
                <string>{-11,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,92},{140,108}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000205.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,912},{132,104}}</string>
                <key>offset</key>
                <string>{-11,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,96},{132,104}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000206.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1486},{146,116}}</string>
                <key>offset</key>
                <string>{-8,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,84},{146,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000208.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{146,128}}</string>
                <key>offset</key>
                <string>{-9,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,72},{146,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000209.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1046},{146,120}}</string>
                <key>offset</key>
                <string>{1,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,80},{146,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000301.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1042},{106,124}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,61},{106,124}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000302.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,512},{98,114}}</string>
                <key>offset</key>
                <string>{-2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,78},{98,114}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000401.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1384},{92,116}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,49},{92,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000505.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1832},{78,94}}</string>
                <key>offset</key>
                <string>{5,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,88},{78,94}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000508.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1342},{102,144}}</string>
                <key>offset</key>
                <string>{-10,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,56},{102,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000512.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1634},{110,92}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,58},{110,92}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000513.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,886},{114,94}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,59},{114,94}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000515.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1324},{98,122}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,50},{98,122}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000516.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,1502},{120,76}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,70},{120,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAA000601.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1568},{123,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{123,90}}</string>
                <key>sourceSize</key>
                <string>{125,108}</string>
            </dict>
            <key>head/EAAH00106.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1340},{144,120}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,34},{144,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAAH00801.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,758},{94,126}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,40},{94,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAAH00802.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,380},{98,130}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,40},{98,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAAH00803.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,628},{94,128}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,42},{94,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAAH00806.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,774},{102,136}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,39},{102,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAAH01101.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1758},{96,86}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,56},{96,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAAH01102.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1846},{96,86}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,56},{96,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAAH01103.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1934},{96,86}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,56},{96,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAAH01104.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1934},{96,86}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,56},{96,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAAH01105.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1846},{96,86}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,56},{96,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAAH01106.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1758},{96,86}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,56},{96,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAAH01107.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1660},{96,86}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,56},{96,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAAH01202.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1728},{102,102}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,98},{102,102}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAAH01206.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1934},{86,90}}</string>
                <key>offset</key>
                <string>{1,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,110},{86,90}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAAH01208.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1660},{96,96}}</string>
                <key>offset</key>
                <string>{-8,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,104},{96,96}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EAAH01209.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1292},{90,108}}</string>
                <key>offset</key>
                <string>{-5,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,92},{90,108}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>head/EBA001006.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,770},{108,140}}</string>
                <key>offset</key>
                <string>{12,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,60},{108,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>head1.pvr.ccz</string>
            <key>size</key>
            <string>{441,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c94a8702fb87281faf82f2cc8f65389c:2b708ecec1300a265da1465d6184e373:358c8a25200090bf3b582ff076a6ced7$</string>
            <key>textureFileName</key>
            <string>head1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
